extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'imagesloaded/imagesloaded.pkgd.min.js', 'shufflejs/dist/shuffle.min.js', 'parallax-js/dist/parallax.min.js']
  - var parentMenu = 'Homoeopathy'
  - var pageTitle = 'ホメオパシーとは?'


//- Navbar + Contact modal
block navbar

  // Navbar (Solid background + shadow)
  // Remove "navbar-sticky" class to make navigation bar scrollable with the page.
  header.header.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-sticky
    .navbar-search.bg-light
      .container.d-flex.flex-nowrap.align-items-center
        i.ai-search.fs-xl
        input(type='text' placeholder='Search site').form-control.form-control-xl.navbar-search-field
        .d-flex.align-items-center
          span.text-muted.fs-xs.mt-1.d-none.d-sm-inline Close
          button(type='button' data-bs-toggle='search').btn-close.p-2
    .container.px-0.px-xl-3
      button(type='button' data-bs-toggle='offcanvas' data-bs-target='#primaryMenu').navbar-toggler.ms-n2.me-2
        span.navbar-toggler-icon
      a(href='index.html').navbar-brand.flex-shrink-0.order-lg-1.mx-auto.ms-lg-0.pe-lg-2.me-lg-4
        img(src='img/logo/logo-dark.png' alt='hinoka' width='153').d-none.d-lg-block
        img(src='img/logo/logo-icon.png' alt='hinoka' width='58').d-lg-none
      .d-flex.align-items-center.order-lg-3.ms-lg-auto
        a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.btn-primary.d-lg-inline-block.d-none ご予約のスケジュール
        a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.btn-sm.btn-primary.d-lg-none.d-inline-block ご予約のスケジュール
      #primaryMenu.offcanvas.offcanvas-collapse.order-lg-2
        .offcanvas-header.navbar-shadow
          h6.mt-1.mb-0 <small>日本ホメオパシーセンター奈良 学園前</small>
          button(type='button' data-bs-dismiss='offcanvas' aria-label='Close').btn-close.lead
        .offcanvas-body
          //- partial/menu-primary
          include partials/menu-primary
        .offcanvas-footer
          a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.d-block.w-100.btn-primary ご予約のスケジュール


//- Page Content
block content

  // Hero
  section.container.mb-3.my-md-0.py-5.py-md-6
    .row.align-items-center
      .col-lg-4.col-md-5.order-md-1.order-2.text-md-start.text-center
        h1.display-4.mb-lg-4.mb-3 ホメオパシー
        h2.h3.mb-lg-5.mb-4.text-muted 似たようなものが、似たようなものを癒す
      .col-lg-8.col-md-7.order-md-2.order-1.mb-md-0.mb-grid-gutter
        <!-- lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_0xllbqad.json'  background='transparent'  speed='1' loop autoplay).w-100.h-100-->
        img(src="img/user/homeopathy/photo_01.jpg" alt="ホメオパシー").rounded-3

  // About
  // Horizontal card layout
  section.container
    .card.card-horizontal
      .card-img-top(style="background-image: url('img/user/homeopathy/DSC_0233.jpg');")
      .card-body
        h2.card-title
          | ホメオパシー
        p.card-text.fs-sm
          | ホメオパシー Homoeopathy は「似たようなものが、似たようなものを癒す」という同種の法則に基づいています。古代ギリシャから同種療法はありましたし、日本にも世界各地に同種療法のお手当があります。この、同種療法を確立したのが、ドイツ人医師サミュエル・ハーネマン(1755-1843)です。
        a(href="https://ameblo.jp/essence-yumi/entry-12374976434.html" target='_blank').btn.btn-sm.btn-primary
          | ホメオパシーが向かないかもしれない場合

  //- フラワーエッセンスと自然療法
  include partials/user


//- Footer
block footer

  // Footer
  footer.footer.pb-4.mt-sm-n5
    .container.fs-sm.text-center
      span.text-muted © All rights reserved. 日本ホメオパシーセンター奈良 学園前
