extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'imagesloaded/imagesloaded.pkgd.min.js', 'shufflejs/dist/shuffle.min.js', 'parallax-js/dist/parallax.min.js']
  - var parentMenu = 'Homoeopathy'
  - var pageTitle = 'ホメオパシーとは?'


//- Navbar + Contact modal
block navbar

  // Navbar (Solid background + shadow)
  // Remove "navbar-sticky" class to make navigation bar scrollable with the page.
  header.header.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-sticky
    .navbar-search.bg-light
      .container.d-flex.flex-nowrap.align-items-center
        i.ai-search.fs-xl
        input(type='text' placeholder='Search site').form-control.form-control-xl.navbar-search-field
        .d-flex.align-items-center
          span.text-muted.fs-xs.mt-1.d-none.d-sm-inline Close
          button(type='button' data-bs-toggle='search').btn-close.p-2
    .container.px-0.px-xl-3
      button(type='button' data-bs-toggle='offcanvas' data-bs-target='#primaryMenu').navbar-toggler.ms-n2.me-2
        span.navbar-toggler-icon
      a(href='index.html').navbar-brand.flex-shrink-0.order-lg-1.mx-auto.ms-lg-0.pe-lg-2.me-lg-4
        img(src='img/logo/logo-dark.png' alt='hinoka' width='153').d-none.d-lg-block
        img(src='img/logo/logo-icon.png' alt='hinoka' width='58').d-lg-none
      .d-flex.align-items-center.order-lg-3.ms-lg-auto
        a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.btn-primary.d-lg-inline-block.d-none ご予約のスケジュール
        a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.btn-sm.btn-primary.d-lg-none.d-inline-block ご予約のスケジュール
      #primaryMenu.offcanvas.offcanvas-collapse.order-lg-2
        .offcanvas-header.navbar-shadow
          h6.mt-1.mb-0 <small>日本ホメオパシーセンター奈良 学園前</small>
          button(type='button' data-bs-dismiss='offcanvas' aria-label='Close').btn-close.lead
        .offcanvas-body
          //- partial/menu-primary
          include partials/menu-primary
        .offcanvas-footer
          a(href='https://ameblo.jp/essence-yumi/' target='_blank').btn.d-block.w-100.btn-primary ご予約のスケジュール


//- Page Content
block content

  // Hero
  section.container.mb-3.my-md-0
    .row.align-items-center
      .col-lg-4.col-md-5.order-md-1.order-2.text-md-start.text-center
        h1.display-4.mb-lg-4.mb-3 ホメオパシー
        h2.h3.mb-lg-5.mb-4.text-muted 似たようなものが、似たようなものを癒す
      .col-lg-8.col-md-7.order-md-2.order-1.mb-md-0.mb-grid-gutter
        lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_0xllbqad.json'  background='transparent'  speed='1' loop autoplay).w-100.h-100

  // About
  // Horizontal card layout
  section.container
    .card.card-horizontal
      .card-img-top(style="background-image: url('img/user/homeopathy/DSC_0233.jpg');")
      .card-body
        h2.card-title
          | ホメオパシー
        p.card-text.fs-sm
          | ホメオパシー Homoeopathy は「似たようなものが、似たようなものを癒す」という同種の法則に基づいています。古代ギリシャから同種療法はありましたし、日本にも世界各地に同種療法のお手当があります。この、同種療法を確立したのが、ドイツ人医師サミュエル・ハーネマン(1755-1843)です。
        a(href="https://ameblo.jp/essence-yumi/entry-12374976434.html" target='_blank').btn.btn-sm.btn-primary
          | ホメオパシーが向かないかもしれない場合


  // Solutions
  section.container.position-relative.zindex-5.pt-5.pt-md-6.pt-lg-7
    h2.text-center.pt-3.pt-md-0.mb-5 フラワーエッセンスと自然療法
    .row
      .col-sm-6.mb-grid-gutter
        .bg-light.shadow.rounded-3.py-5.px-4
          .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
            img(src='img/user/illustration/pixeltrue-giveaway-1.svg' alt='' width='140').d-inline-block.mb-3.mb-xl-0
            .ps-xl-3.ms-xl-3
              h3.h4.text-primary.pb-1 フラワーエッセンス
              p 目に見えない領域のバランスの乱れこそ本当に治療すべきもの
              a(href='#').nav-link-style
                | Read more
                i.ai-chevron-right.fs-xl.ms-1.align-middle
      .col-sm-6.mb-grid-gutter
        .bg-light.shadow.rounded-3.py-5.px-4
          .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
            img(src='img/demo/personal-portfolio/portfolio/04.jpg' alt='' width='140').d-inline-block.mb-3.mb-xl-0
            .ps-xl-3.ms-xl-3
              h3.h4.text-primary.pb-1 自然療法
              p 体質分類がありそれぞれの体質に応じた養生がある
              a(href='#').nav-link-style
                | Read more
                i.ai-chevron-right.fs-xl.ms-1.align-middle


  // Socials
  section(style='background-image: url(img/demo/personal-portfolio/socials/bg-shape.png);').position-relative.py-6.bg-no-repeat.bg-position-center-bottom.overflow-hidden

    // Parallax
    .parallax
      .parallax-layer(data-depth='0.1')
        img(src='img/demo/personal-portfolio/socials/figure-1.png' alt='Layer 1')
      .parallax-layer(data-depth='0.15')
        img(src='img/demo/personal-portfolio/socials/figure-2.png' alt='Layer 2')
      .parallax-layer(data-depth='0.25')
        img(src='img/demo/personal-portfolio/socials/figure-3.png' alt='Layer 3')

    // Content
    div(style='top: 0; left: 0; z-index: 9').d-flex.align-items-center.position-absolute.w-100.h-100
      .container
        h2.mb-4.pb-sm-3.text-center Follow me
        .text-center
          a(href='https://www.instagram.com/wildflowers_yumi/' style='background-color: #667302;').btn.btn-lg.text-white.mb-2.me-sm-4.me-2
            i.ai-instagram.lead.me-2
            | Instagram


//- Footer
block footer

  // Footer
  footer.footer.pb-4.mt-sm-n5
    .container.fs-sm.text-center
      span.text-muted © All rights reserved. 日本ホメオパシーセンター奈良 学園前
