extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'imagesloaded/imagesloaded.pkgd.min.js', 'shufflejs/dist/shuffle.min.js', 'parallax-js/dist/parallax.min.js']
  - var parentMenu = 'Fee'
  - var pageTitle = '相談料'


//- Navbar + Contact modal
block navbar
  include partials/navbar-solid

//- Page Content
block content

  // Hero
  section.container.mb-3.my-md-0.py-5.py-md-6
    .row.align-items-center
      .col-lg-4.col-md-5.order-md-1.order-2.text-md-start.text-center
        h1.display-4.mb-lg-4.mb-3 料金
        h2.fs-6.mb-lg-5.mb-4.text-muted セッションのメニューと料金
        .text-nowrap
          a(href='https://ameblo.jp/essence-yumi/' target='blank').btn.btn-outline-primary
            i.ai-calendar.mt-n1.me-2
            | 最新のご予約スケジュールのご案内
      .col-lg-8.col-md-7.order-md-2.order-1.mb-md-0.mb-grid-gutter
        <!-- lottie-player(src='https://assets7.lottiefiles.com/private_files/lf30_O4WDjy.json'  background='transparent'  speed='0.8' loop autoplay).w-100.h-100 -->
        img(src="img/user/homeopathy/photo_02.jpg" alt="ホメオパシー").rounded-3


  // Pricing
  section.container.mb-3.mt-4.py-5.my-md-0.pt-md-7.pb-md-6
    h2.text-center.mb-5
      i.ai-arrow-up.lead.text-primary.p-2
      | 12歳以上
    .row
      .col-lg-6.col-sm-6.mb-grid-gutter
        .card.border-0.shadow.w-100
          .card-img-top.bg-warning.text-center.py-5.px-grid-gutter
            h3.text-light.mb-0 ヒノ香のセッション
          .card-body.px-grid-gutter.py-grid-gutter
            .d-flex.align-items-end.py-2.px-4.mb-4
              span.h2.fw-normal.text-muted.mb-1.me-2 ¥
              span.price.display-2.fw-normal.text-primary.px-1.me-2 15,400
              span.h3.fs-lg.fw-medium.text-muted.mb-2 税込
            ul.list-unstyled.py-2.mb-4
              li.d-flex.align-items-center.mb-3
                i.ai-check.fs-xl.text-primary.me-2
                span ホメオパシーとフラワーエッセンス
            // はじめて受けるとき
            .text-center.mb-2
              a(href='https://ameblo.jp/essence-yumi/entry-12374976434.html' target='blank').btn.btn-outline-warning 初めて受けるとき
      .col-lg-6.col-sm-6.mb-grid-gutter
        .card.border-0.shadow.w-100
          .card-img-top.bg-warning.text-center.py-5.px-grid-gutter
            h3.text-light.mb-0 ホメオパシー&nbsp;
              span.fs-5 または
              | フラワーエッセンス&nbsp;
              span.fs-5 のみ
          .card-body.px-grid-gutter.py-grid-gutter
            .d-flex.align-items-end.py-2.px-4.mb-4
              span.h2.fw-normal.text-muted.mb-1.me-2 ¥
              span.price.display-2.fw-normal.text-primary.px-1.me-2 11,000
              span.h3.fs-lg.fw-medium.text-muted.mb-2 税込

  // Pricing
  section.container.mb-3.mt-4.py-5.my-md-0.pt-md-7.pb-md-6
    h2.text-center.mb-5
      i.ai-arrow-down.lead.text-primary.p-2
      | 11歳以下のお子さま
    .row
      .col-lg-4.col-sm-6.mb-grid-gutter
        .card.w-100
          .card-img-top.bg-faded-danger.text-center.py-5.px-grid-gutter
            h3.fs-5.text-body.mb-0  ホメオパシーとフラワーエッセンス
          .card-body.px-grid-gutter.py-grid-gutter
            .d-flex.align-items-end.py-2.px-4.mb-4
              span.h2.fw-normal.text-muted.mb-1.me-2 ¥
              span.price.display-2.fw-normal.text-primary.px-1.me-2 11,000
              span.h3.fs-lg.fw-medium.text-muted.mb-2 税込
      .col-lg-4.col-sm-6.mb-grid-gutter
        .card.w-100
          .card-img-top.bg-faded-danger.text-center.py-5.px-grid-gutter
            h3.fs-5.text-body.mb-0 ホメオパシーこども健康相談会
          .card-body.px-grid-gutter.py-grid-gutter
            .d-flex.align-items-end.py-2.px-4.mb-4
              span.h2.fw-normal.text-muted.mb-1.me-2 ¥
              span.price.display-2.fw-normal.text-primary.px-1.me-2 8,800
              span.h3.fs-lg.fw-medium.text-muted.mb-2 税込
      .col-lg-4.col-sm-6.mb-grid-gutter
        .card.w-100
          .card-img-top.bg-faded-danger.text-center.py-5.px-grid-gutter
            h3.fs-5.text-body.mb-0 フラワーエッセンスのみ
          .card-body.px-grid-gutter.py-grid-gutter
            .d-flex.align-items-end.py-2.px-4.mb-4
              span.h2.fw-normal.text-muted.mb-1.me-2 ¥
              span.price.display-2.fw-normal.text-primary.px-1.me-2 8,800
              span.h3.fs-lg.fw-medium.text-muted.mb-2 税込

  // 別途費用
  section.bg-info.py-7
    .container
      .row
        .col-lg-6.mx-auto
          .card.border-warning
            .card-header.border-warning
              | セッション料金のほかに必要な費用
            .card-body
              ul.card-text.fs-sm
                li.d-flex.mb-2.pb-1
                  i.ai-check-circle.text-warning.fs-xl.mt-1.me-3
                  span ホメオパシーのレメディー代金が別途必要です。
                li.d-flex.mb-2.pb-1
                  i.ai-check-circle.text-warning.fs-xl.mt-1.me-3
                  span ヒノ香では販売していませんのでよろしければ代行発注をさせていただき、レメディーショップからのお届けになります。
                li.d-flex.mb-2.pb-1
                  i.ai-check-circle.text-warning.fs-xl.mt-1.me-3
                  span zoomのフラワーエッセンスセッションの場合、フラワーエッセンスのボトルは発送になるので、送料660円がかかります。

  //- フラワーエッセンスと自然療法
  include partials/user

  //- Social template
  include partials/usersocials


//- Footer
block footer

  // Footer
  footer.footer.pb-4.mt-sm-n5
    .container.fs-sm.text-center
      span.text-muted © All rights reserved. 日本ホメオパシーセンター奈良 学園前
