// Menu
ul.navbar-nav
  li()&attributes(parentMenu === 'Homoeopathy' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='/homoeopathy.html').nav-link ホメオパシー
  li()&attributes(parentMenu === 'Health' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='/session.html').nav-link セッション
  li()&attributes(parentMenu === 'Fee' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='/time-fee.html').nav-link 料金
  li()&attributes(parentMenu === 'Profile' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='/homoeopathy-profile.html').nav-link ホメオパスプロフィル
  li()&attributes(parentMenu === 'Access' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='/open.html').nav-link ご予約・アクセス
