// Solutions
section.container.position-relative.zindex-5.pt-5.pt-md-6.pt-lg-7
  h2.text-center.pt-3.pt-md-0.mb-5 フラワーエッセンスと自然療法
  .row
    .col-sm-6.mb-grid-gutter
      .bg-light.shadow.rounded-3.py-5.px-4
        .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
          img(src='img/user/homeopathy/IMG_3812.jpg' alt='フラワーエッセンス' width='140').d-inline-block.mb-3.mb-xl-0
          .ps-xl-3.ms-xl-3
            h3.h4.text-primary.pb-1 フラワーエッセンス
            p 目に見えない領域のバランスの乱れこそ本当に治療すべきもの
            a(href='https://ameblo.jp/essence-yumi/').nav-link-style
              | ブログ
              i.ai-chevron-right.fs-xl.ms-1.align-middle
    .col-sm-6.mb-grid-gutter
      .bg-light.shadow.rounded-3.py-5.px-4
        .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
          img(src='img/user/homeopathy/photo_03.jpg' alt='自然療法' width='140').d-inline-block.mb-3.mb-xl-0
          .ps-xl-3.ms-xl-3
            h3.h4.text-primary.pb-1 自然療法
            p 体質分類がありそれぞれの体質に応じた養生がある
            a(href='https://ameblo.jp/essence-yumi/').nav-link-style
              | ブログ
              i.ai-chevron-right.fs-xl.ms-1.align-middle