// Solutions
section.container.position-relative.zindex-5.pt-5.pt-md-6.pt-lg-7
  h2.text-center.pt-3.pt-md-0.mb-5 フラワーエッセンスと自然療法
  .row
    .col-sm-6.mb-grid-gutter
      .bg-light.shadow.rounded-3.py-5.px-4
        .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
          img(src='img/user/illustration/pixeltrue-giveaway-1.svg' alt='' width='140').d-inline-block.mb-3.mb-xl-0
          .ps-xl-3.ms-xl-3
            h3.h4.text-primary.pb-1 フラワーエッセンス
            p 目に見えない領域のバランスの乱れこそ本当に治療すべきもの
            a(href='#').nav-link-style
              | Read more
              i.ai-chevron-right.fs-xl.ms-1.align-middle
    .col-sm-6.mb-grid-gutter
      .bg-light.shadow.rounded-3.py-5.px-4
        .d-block.d-xl-flex.align-items-center.px-lg-3.py-xl-2.text-center.text-sm-start
          img(src='img/demo/personal-portfolio/portfolio/04.jpg' alt='' width='140').d-inline-block.mb-3.mb-xl-0
          .ps-xl-3.ms-xl-3
            h3.h4.text-primary.pb-1 自然療法
            p 体質分類がありそれぞれの体質に応じた養生がある
            a(href='#').nav-link-style
              | Read more
              i.ai-chevron-right.fs-xl.ms-1.align-middle


// Socials
section(style='background-image: url(img/demo/personal-portfolio/socials/bg-shape.png);').position-relative.py-6.bg-no-repeat.bg-position-center-bottom.overflow-hidden

  // Parallax
  .parallax
    .parallax-layer(data-depth='0.1')
      img(src='img/demo/personal-portfolio/socials/figure-1.png' alt='Layer 1')
    .parallax-layer(data-depth='0.15')
      img(src='img/demo/personal-portfolio/socials/figure-2.png' alt='Layer 2')
    .parallax-layer(data-depth='0.25')
      img(src='img/demo/personal-portfolio/socials/figure-3.png' alt='Layer 3')

  // Content
  div(style='top: 0; left: 0; z-index: 9').d-flex.align-items-center.position-absolute.w-100.h-100
    .container
      h2.mb-4.pb-sm-3.text-center Follow me
      .text-center
        a(href='https://www.instagram.com/wildflowers_yumi/' style='background-color: #667302;').btn.btn-lg.text-white.mb-2.me-sm-4.me-2
          i.ai-instagram.lead.me-2
          | Instagram