// Socials
section(style='background-image: url(img/demo/personal-portfolio/socials/bg-shape.png);').position-relative.py-6.bg-no-repeat.bg-position-center-bottom.overflow-hidden

  // Parallax
  .parallax
    .parallax-layer(data-depth='0.1')
      img(src='img/demo/personal-portfolio/socials/figure-1.png' alt='Layer 1')
    .parallax-layer(data-depth='0.15')
      img(src='img/demo/personal-portfolio/socials/figure-2.png' alt='Layer 2')
    .parallax-layer(data-depth='0.25')
      img(src='img/demo/personal-portfolio/socials/figure-3.png' alt='Layer 3')

  // Content
  div(style='top: 0; left: 0; z-index: 9').d-flex.align-items-center.position-absolute.w-100.h-100
    .container
      h2.mb-4.pb-sm-3.text-center Follow me
      .text-center
        a(href='https://www.instagram.com/wildflowers_yumi/' style='background-color: #667302;').btn.btn-lg.text-white.mb-2.me-sm-4.me-2
          i.ai-instagram.lead.me-2
          | Instagram