//
// user-variables.scss
// Use this to override Bootstrap and Cartzilla variables
//

// Example of a variable override to change Cartzilla background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

// Brand colors
// Brand colors
$primary:               #A9BF04 !default;
$info:		              #93A603 !default;
$success:               #667302 !default;
$warning:               #F2EAC2 !default;
$danger:                #A68A81 !default;

$line-height-base:            1.8 !default;
$spacer: 1.25rem !default;
$paragraph-margin-bottom:     ($spacer * 2) !default;